---
import siteConfig from '../data/site-config';
import CustomImage from './CustomImage.astro';
---

<header class="mx-auto mb-12 flex w-full max-w-3xl items-center gap-4 sm:mb-16">
    {
        siteConfig.avatar?.src && (
            <a href="/">
                <CustomImage
                    class="aspect-square w-16 rounded-full object-cover sm:w-20"
                    {...siteConfig.avatar}
                    loading="eager"
                    fetchpriority="high"
                    width={80}
                    height={80}
                    widths={[80, 160]}
                    sizes="80px"
                />
            </a>
        )
    }

    <div class="grow">
        {siteConfig.subtitle && (
            <p class="text-base leading-snug sm:text-lg">
                {siteConfig.subtitle}
            </p>
        )}
    </div>
</header>